# --- Python Artifacts ---
__pycache__/
*.py[cod]


# --- Virtual Environments ---
.venv/
venv/
env/
ENV/


# --- Jupyter Notebooks ---
.ipynb_checkpoints/


# --- Data Folder ---
data/images/*
!data/images/
!data/dataset.csv


# --- Secrets / Configs ---
.env


# --- Logs ---
*.log
